body {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 211, 211);
}

.card {
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    background-color: rgb(185, 185, 185);
    border-radius: 30px;
    transition: transform 1s ease-in-out;
    margin-top: 5rem;
}

.card img {
    max-width: 25rem;
}

.card h1 {
    font-size: 5rem;
    color: yellow;
}

.card:hover {
    transform: rotate(360deg) scale(4.5);
}
